*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: left;
    padding: 20px;
    margin-left: 0%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
.logo{
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 250px;
    padding-right: 25px;
}
.row
{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.b1{
    display: inline-block;
    background: #fff;
    color:#6a6a6b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.1s;
}
.b1:hover{
    background:#6a6a6b;
    color:#fff;
}
.b2{
    display: inline-block;
    background: #fff;
    color:#6a6a6b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.1s;
}
.b2:hover{
    background: #6a6a6b;
    color:#fff;
}

.b4{
    display: inline-block;
    background: #fff;
    color:#6a6a6b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.1s;
}
.b4:hover{
    background: #6a6a6b;
    color: #fff;
}
.b5{
    display: inline-block;
    background:#fff;
    color:#6a6a6b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.1s;
}
.b5:hover{
    background:#6a6a6b;
    color:#fff;
}
.c1{
    margin-top: 30px;
    position: right;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.1s;
}
.btn:hover{
    background: #563434;
}
.header
{
    background: radial-gradient(#fff,#87c7e0);
}
.header .row{
    margin-top: 70px;

}
.categories{
    margin: 70px;
}
.col-3
{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}
.col-4 img{
    width: 100%;
}
.title
{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.satyam{
    width: 200px;
    height: 200px;
}
h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform:translateY(-5px);
}
/*--------------offer---------------*/
.offer{
    background: radial-gradient(#fff,#fff);
    margin-top: 80px;
    padding: 30px 0;

}
.col-2 .offer-img{
    margin-top: 80px;
padding: 50px;

}
small{
    color:#555;
}

/*------------testimonial-------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;


}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50% ;
}
.testimonial .col-3:hover
{
transform: translateY(-10px);
}
.fa.fa-quote-left{ 
    font-size: 34px;
    color: #ff523b;

}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

/*-------------brands---------*/
.brands{
    margin: 160px;
}
.col-5{
    width:160px;

}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*---------------footer-------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 30px 0px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col0-1, .footer-col-2, .footer-col-3, .footer-col-4{
   min-width: 25px;
   margin-bottom: 20px; 
   margin-left: 0;

}
.footer-col-1{
    flex-basis: 30%;
    text-align: left;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    border-radius: 300px;
}
.footer-col-2 img{
    width: 100px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 10%;
    text-align: right;

}

ul{
    list-style-type: none;
}
.app-logo{
    margin: top 20px; 
}
.app-logo img{
    width: 120px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    margin-top: 30px;
    display: none;
}

/*-----------all products page ------*/

row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.newbtn{
    background: #46a0ca;
    color: #000;
}
.page-btn{
    margin: 0px auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;

}
.page-btn span:hover{
    background: #ff524b;
    color:#fff;
}
.n2{
    margin-top: 10px;
    text-shadow: 2px 2px 5px lightsalmon;
}
.s1{
    background-color:#ff524b;
}
/*------single product details --------*/


ul.bulet li{
    list-style-type: circle;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
              padding: 20px;
}
.single-product h4{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;

}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin: 20px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*---------about page-----*/
.section{
	width: 100%;
	min-height: 100vh;
	background-color: rgb(235, 165, 165);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 450px;
	height: 450px;
    border-radius: 350px;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 20px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
/*------ cart items -----*/


.cart-page{
    margin: 80px 50px;
    padding-left: 25px;
    padding-right: 25px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #ffff;
    background-color: #ff523b;
    font-weight: normal;
    
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff524b;
    width: 100%;
    max-width: 400px;

}

.totalbtn{
    text-align: right;
    padding-top: -100px;
}

.formnew{
    text-align: center;
    padding-left: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
/*---------------media query for menu----------*/
@media only screen and(max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden ;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* ------------media query for less than 600 screen size------*/
@media only screen and (max-width: 600px)
{
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4
    {
        flex-basis:100px;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
    }
    .footer-col-1{
        margin-left: 0%;
        text-align: left;
    }
}